<%- include("./templates/header.ejs", {Title: 'Page 404', link_css: '404'}) %>

<div class="container">
  <h1 class="error-title">404</h1>
  <p class="error-message">Oops! Su pagina no fue encontrada</p>
  <a href="/" class="error-link">Volver a casa</a>
</div>

<%- include("./templates/footer.ejs") %>
